
#body{
	background-color: black;
	color: #00FF00;
	font-size: 25px;
	font-weight: 800;
	text-shadow: 0 0 20px #0012FF;
}
.gt-class{
	background-color: black;
	color:#00F6FF ;
}
.run-class{
	font-size: 30px;
	color: #00FFEA;
	border: 3px solid green;
	border-radius: 5px;
	background-color: black;
}
#data{
	border: 4px solid #00FF1E;
	border-radius: 15px;
}
#nợ{
	font-size: 35px;
}